<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
  <div class="container">
    <div id="image-container" class="web-only">
      <a class="navbar-brand" routerLink="/">
        <img src="./../../../assets/logo-sm.png">
      </a>
    </div>
    
    <div class="navbar-title">
      <div id="name-container">
        Pedro Francisco João Xavier Alcântara Antônio
        <i id="button-container" class="fa fa-angle-down"></i>
      </div>
      
    </div>

    <div id="navbarCollapse" class="web-only">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="link " (click)="logout()">Sair</a>
        </li>
      </ul>
    </div>
  </div>
  
</nav>

